<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Currency Conversion App</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
		<style>
			body {
				background-image:url('/img/escheresque_ste.png');
			}
			p {
				color:#D8D8D8;
			}
			body {
				margin-top: 30px;
			}
		</style>
	</head>

	<body>
		<div class="container">

			<p class="lead">
				This is a currency conversion app. Please connect to the internet.
			</p>
		</div>

	</body>	
</html>